certifi==2017.7.27.1
Flask-RESTful==0.3.6
gunicorn==19.7.1
Jinja2==2.9.6
requests==2.18.4
urllib3==1.22
Werkzeug==0.12.2
flask
flask-cors
keras==2.0.5
tensorflow==2.6.4
pandas==0.19.1
numpy==1.12.1
h5py==2.7.0
statistics
pyrebase
scipy
pillow